@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Sistem Saung Jajan</h1>

<ul>
    <li><a asp-page="/User_Toko/Dashboard">Dashboard Penjual</a></li>
    <li><a asp-page="/Auth/Login">Login ke Akun Pembeli</a></li>
    <li><a asp-page="/Auth/Register">Register Akun Pembeli</a></li>
    <li><a asp-page="/Auth/Logout">Logout Akun Pembeli</a></li>
</ul>